/* General */
body {
    background-color: aliceblue;
}
h1 {
    text-align: center;
    color: black;
}
div {
    padding: 8px;
    color: white;
}

/* Navigation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
}
li {
    float: right;
}
#top {
    float: left;
}
li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}
li a:hover {
    background-color: purple;
}
a:visited {
    color: black;
}

/* Content */
#head {
    background-color: white;
}
#about {
    background-color: pink;
}
#exp {
    background-color: purple;
}
#projs {
    background-color: teal;
}