/* General */
html {
    scroll-behavior: smooth;
}
body {
    background-color: #152a24;
    color: white;
    text-align: center;
    font-family:"Nunito", sans-serif;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div {
    padding: 5px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: white 6px solid;
}
h2 {
    font-family: "Roboto Slab", serif;
}
p {
    font-size: 14pt;
}
span {
    font-family: "Playwrite GB S", cursive;
}

/* Overhead */
#space {
    background-color: #3e7c6b;
    width: 90vw;
    height: 90vh;
    display: block;
    padding: 1rem;
}
#title {
    font-family: "Playwrite GB S", cursive;
}