/* General */
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f7a28b;
    color: white;
    text-align: center;
    font-family:"Nunito", sans-serif;
}
div {
    padding: 5px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: white 2px solid;
}
h2 {
    font-family: "Roboto Slab", serif;
}
button {
    width: 30%;
    padding: 7px;
    background-color: rgb(126, 126, 194);
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 4px;
    font-family: "Nunito", sans-serif;
    color: white;
    font-weight: bold;
    margin: 2%;
}
button:hover {
    background-color: rgb(150, 150, 204);
}
p {
    font-size: 14pt;
}

/* Overhead */
#head {
    background-color: pink;
}
#title {
    font-family: "Playwrite GB S", cursive;
}

#topnav {
    list-style-type: none;
    margin: 0;
    padding: 3px;
}
#topnav li {
    display: inline;
    padding: 8px;
}
#topnav li a {
    color: white;
    text-decoration: none;
    padding: 2px;
}
#topnav li a:hover {
    background-color: rgb(255, 216, 125);
    border-radius: 7px;
}

/* Classes */
.navdot {
    color: rgb(57, 6, 52);
}

/* Content */
#about {
    background-color: rgb(27, 54, 78);
}

#projects {
    background-color:rgb(163, 37, 151);
}
#project h2{
    margin: 0;
    display: inline-block;
}
#projsubtitle {
    background-color: rgb(82, 151, 127);
}

#connect {
    background-color: rgb(78, 54, 129);
}
#projnav {
    position: absolute;
    font-size: 20pt;
    left: 13%;
}
#projnav:hover {
    cursor: pointer;
}