html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
    text-align: center;
    color: white;
    font-family: "Comfortaa", sans-serif;

    background-color: #f4c6b9;

    margin: 0;
    padding: 0;
}